.DS_Store
.idea
.vscode
**/venv
**.env
**__pycache__/
**.pytest_cache
**.ipynb_checkpoints/

# terraform ignores
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*

# airflow ignores
**logs/

# dont push artifacts..
**/data/

## Cleanup later.... for blogpost
**/v3_dag_example.py
**/blog-post code/**

