.DS_Store
.idea
.vscode
**/venv
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**.ipynb_checkpoints/
**google_credentials.json
**logs/
**.env
**__pycache__/
/data-engineering-zoomcamp

**/v3_dag_example.py


